.hero{
    margin: 0px 120px;
    margin-top: 10px;
}

.hero-text{
    color: white;
    font-size: 70px;
    font-weight: 500;
    margin-top: 200px;
}

.hero-explore{
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin-top: 50px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-image: linear-gradient(to right, rgb(0, 213, 255) , rgb(242, 0, 255));
    cursor: pointer;
}

.hero-explore{
    color: #292929;
    font-size: 25px;
    font-weight: 500;
    /* margin-top: 200px; */
}

.arrowBtn{
    border-radius: 50%;
}

.hero-dot-play{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}

.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
    margin-top: 50px;
}

.hero-dot{
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 7.5px;
    cursor: pointer;
}

.hero-dot.orange{
    background: orangered;
}

.hero-play{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-play p{
    color: white;
    font-size: 20px;
}