.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.about-us-container img {
  max-height: 50px;
  width: auto;
  margin-top: 30vh;
  margin-bottom: 30px;
  color: #333;
}

.about-us-container h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #333;
}

.about-us-container p {
  font-size: 1.2rem;
  text-align: center;
  color: #666;
  max-width: 600px;
}